{
 :paths ["src"]
 :deps {
        org.clojure/clojure { :mvn/version "1.11.3" }
        org.clojure/data.json { :mvn/version "2.4.0" }
        org.clojure/core.async { :mvn/version "1.6.673" }
        slingshot/slingshot { :mvn/version "0.12.2" }

        org.fudo/nexus.crypto {
                               :git/url "https://github.com/fudoniten/nexus-crypto.git"
                               :git/sha "a63d0b3d0c637ace92ef8f976f602dd1efbbad3d"
                               }

        org.fudo/fudo-clojure {
                               :git/url "https://github.com/fudoniten/fudo-clojure.git"
                               :git/sha "08ecfdd54f35cf49a85cadb9877d7641dc2933dc"
                               }
        }
 :aliases { }
 }
